.botonDetalles{
    border: 1px solid #174C4A;
}

:host ::ng-deep{

    &.headerVerde.p-dialog .p-dialog-header{
        background-color: black;
        color: white;
        
    }

    &.colorBoton{
        color: #174C4A;
    }

    .p-dialog .p-dialog-header .p-dialog-header-icon{
        color: white;
    }

    .p-dialog{
        padding: 5px;
        box-shadow: none;
    }
    .card{
        border: solid rgb(187, 38, 38) 1.5px ;
        
        
        
    }
}
 
