<!-- <div class="card">
    <img [attr.width]="'100px'" [attr.height]="'100px'" class="image" [src]="dataEntrante?.img" alt="">
    <div class="wrapper-text">
        <div class="title">{{dataEntrante?.nombre}}</div>
        <div class="sub-title">{{dataEntrante?.precio}}</div>
    </div>
    <div class="pt-1">
        <button class="btn btn-primary" (click)="agregarACarrito()">Agregar al carrito</button>
    </div>
</div> -->



<div class="card text-center" style="width: 15rem;">
  <div class="text-center">
    <img [attr.width]="'100px'" [attr.height]="'100px'" class="image" [src]="dataEntrante?.img" alt="">
  </div>

  <div class="card-body">
    <h5 class="card-title">{{dataEntrante?.nombre}}</h5>
    <p class="card-text"> $ {{dataEntrante?.precio}}</p>
    <input (paste)="false" (keypress)="false" id="cantidadProducto" type="number" value="1" min="1" max="5" maxlength="1" [(ngModel)]="cantidad"/>
    <button class="btn text-white me-2" (click)="agregarACarrito()" style="background-color: #174C4A;">
      <i class="fa fa-bag-shopping me-2"></i>
      <i class="fa-solid fa-plus"></i>
    </button>
    <button class="btn text-white bg-white botonDetalles" (click)="showBasicDialog2()"
      style="background-color: #174C4A;">
      <p class="card-text" style="color: #174C4A;">Detalles <i class="fa-solid fa-circle-info"></i></p>
    </button>

    <p-dialog header="Detalles del Producto" [(visible)]="displayBasic2" styleClass="headerVerde ">
      <div class="row">

        <div class="col-12 col-xl-6 d-flex justify-content-center align-content-center ">

          <p-galleria [value]="imagenesCarrousel" [responsiveOptions]="responsiveOptions"
            [containerStyle]="{'max-width': '640px', 'margin-top':'2em'}" [numVisible]="5" [circular]="true"
            [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true"
            [showItemNavigatorsOnHover]="true" [showIndicatorsOnItem]="true">
            <ng-template pTemplate="item" let-imagenesCarrousel>
              <img [src]="imagenesCarrousel.previewImageSrc" style="width: 100%; display: block;" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-imagenesCarrousel [responsiveOptions]="responsiveOptions">
              <div class="justify-content-center">

                <img [src]="imagenesCarrousel.thumbnailImageSrc" style="display: block;" />

              </div>
            </ng-template>
          </p-galleria>

        </div>

        <div class="col-12 col-xl-6 py-3 d-flex justify-content-center">
          <div class="d-flex flex-column justify-content-around" style="max-width: 640px">
            <h3 class="fw-bold">Producto: {{dataEntrante?.nombre}}</h3>
            <p class="mt-3 text-xl-start fw-bold">
              {{dataEntrante?.descripcion}}
            </p>
            <div class="d-flex justify-content-between align-content-center">
              <p class="fw-bold fs-4 d-inline m-auto mx-0" style="color:#174C4A ;">
                <b>Precio: </b> $ {{dataEntrante?.precio}}
              </p>
              <button class="btn text-white me-2" (click)="agregarACarrito()" style="background-color: #174C4A;">
                <p class="d-inline fw-bold me-3">Agregar al Carrito</p>
                <i class="fa fa-bag-shopping me-2"></i>
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>

          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <p-button icon="fa-solid fa-arrow-left-long" (click)="displayBasic2=false" label="Salir" styleClass="p-button-text colorBoton"></p-button>
      </ng-template>
    </p-dialog>
  </div>





</div>
