  <table class = "table table-dark table-hover" >
       
    <thead>

            
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>NickName</th>
                <th>Email Verificado</th>
                <th>Domicilio</th>
                
                
            </tr>
        </thead> 
        <tbody> 
            <tr>
                <td >{{nombre}} </td>
                <td >{{apellido}} </td>
                <td >{{email}} </td>
                <td >{{usuario}}</td>
                <td >{{emailVerificado}}</td>
                <td >{{address}}</td>
            </tr>
        </tbody></table>


<h2>Compras realizadas </h2>
<div *ngFor="let compra of listaComprasUsuario">
    <ul>Compra ID: {{compra.id}}
        <button type="button" class="btn btn-primary" (click)="traerProductosCompra(compra.id)">Ver productos de la compra</button>
    </ul>
   
</div>


    
    


