.fondoLogin{
    background-image: url(../../assets/images/fondoLogin.jpg);
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    height: 90vh!important;
    width: 100vw!important;
    overflow: hidden!important;
}