<div class="fondoLogin " style="background-color: #174C4A;">
  <div class="container py-2 h-75 w-100 d-flex justify-content-center mt-3 m-auto"
    style="min-width: 450px; max-width: 500px;">
    <div class="d-flex flex-column align-items-center p-0 shadow container-xl m-0 rounded-3 m-auto h-100  w-75 bg-white" style="min-width: 400px; max-width: 600px;">

      <form (ngSubmit)="onLogin()" class=" p-5 pb-3 w-100 d-flex flex-column align-items-center">
        <h2 class="text-center mb-lg-5 fw-bold" style="color: #174C4A;">
          Bienvenido a Food
        </h2>
        <div class="mb-3 mt-5 w-100">
          <span class="p-float-label">
            <input id="email" type="email" name="email" [(ngModel)]="email" pInputText class="w-100">
            <label for="email">Email</label>
          </span>
        </div>

        <div class="mb-3 w-100 mt-3">
          <span class="p-float-label">
            <input type="password" name="password" id="password" [(ngModel)]="password" pPassword class="w-100" />
            <label for="password">Password</label>
          </span>
        </div>
        <div class="mt-5">
          <button pButton pRipple type="submit" label="Login" class="border-0 w-100 shadow-sm rounded-3" style="background-color: #174C4A;"></button>
        </div>
      </form>
      <div class="text-center mt-4">
        <span class="text-">
          Forgot
        </span>
        <a class="text-center text-decoration-none text-dark fw-bold" href="#">
          Username / Password?
        </a>
      </div>
      <div class="mt-5 text-center ">
        <a class="text-decoration-none text-dark" routerLink="/signup" routerLinkActive="active">
          Crea tu cuenta
          <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
      </div>
    </div>

  </div>
</div>
