.fondoSignUp{
    background-image: url(../../assets/images/Login/login.jpg);
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-color: #DDEBED;
    height: 92vh!important;
    width: 100vw!important;
    overflow: hidden!important;
}